{% extends "/blog/base.html" %}
{% block content %}
<p><strong>Almir Karic<br />
 San Francisco<br />
 Born 28. 2. 1987.<br />
 almir@almirkaric.com</strong></p>
<h3>Skills</h3>
<ul>
<li>Experience in Python/Django development </li>
<li>Experience with jQuery </li>
<li>Experience in linux/openbsd/windows administration </li>
</ul>
<h3>Relevant experience</h3>
<ul>
<li><strong><span style="font-size: medium;">Programmer at <a href="http://www.hitpost.com/" target="_blank">Hitpost</a> (Aug 2009 - Apr 2010)</span></strong>
<ul>
<li>Programming
<ul>
<li>Web page (AppEngine)</li>
<li>Web page (Django)</li>
<li>Data parsing daemon (python + Django ORM)</li>
</ul>
</li>
<li>
System administration
<ul>
<li>Setup/maintained servers to run their infrastructure on</li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li><strong><span style="font-size: medium;">3 month project for <a href="http://adp.fdv.uni-lj.si/" target="_blank">ADP</a> (Jan 2009 - April 2009)</span></strong>
<ul>
<li>Programming
<ul>
<li>Web page (Django)</li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li><span style="font-size: medium;"><strong>1 month project for <a href="http://www.onkologija.org/" target="_blank">Onkologi</a><a href="http://www.onkologija.org/" target="_blank"></a> (Dec 2008)</strong></span>
<ul>
<li>Programming
<ul>
<li>Membership management (Django)</li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li><span style="font-size: medium;"><strong>18 months in <a href="http://www.rtvslo.si" target="_blank">RTV slo</a></strong></span> <strong><span style="font-size: medium;">(Jan 2008 - Jun 2009)</span></strong>
<ul>
<li>Real time video system
<ul>
<li>Windows</li>
<li>Matrox digisuite</li>
<li>Video equipment </li>
</ul>
</li>
</ul>
<ul>
<li>Programming
<ul>
<li>Playlist statistics (Django)</li>
<li>nginx module (C)</li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li><span style="font-size: medium;"><strong>3 years in <a href="http://www.kiberpipa.org" target="_blank">Cyberpipe</a></strong></span><strong> <span style="font-size: medium;">(Maj 2005 - present)</span></strong>
<ul>
<li>System administration
<ul>
<li>LDAP</li>
<li>Nginx/Apache</li>
<li>Openbsd/PF</li>
<li>Mail (postifx, dovecot, spamassassin, amavisd-new)</li>
<li>Mysql and Postgres</li>
<li>Networking</li>
</ul>
</li>
<li>Programming
<ul>
<li><a href="https://www.kiberpipa.org/projekti/intranet/browser">It is open source</a></li>
<li>Intranet/Web page (Django/jQuery).</li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li><strong><span style="font-size: medium;">6 months <a href="http://nevron.si/" target="_blank">Nevron</a></span></strong> <strong><span style="font-size: medium;">(Dec 2006  - Maj 2007)</span></strong>
<ul>
<li>System administration
<ul>
<li>Mail (postfix, courier)</li>
<li>NFS</li>
<li>Apache/Lighttpd</li>
<li>Mysql</li>
<li>Samba</li>
</ul>
</li>
<li>Programming
<ul>
<li>Cinema ad control panel (PHP)</li>
</ul>
</li>
</ul>
</li>
</ul>
{% endblock %}
