<html>
<head>
<link rel="stylesheet" type="text/css" href="http://static.zemanta.com/core/zemanta-widget.css" />
<script type="text/javascript" src="http://static.zemanta.com/core/jquery.js"></script>
<script type="text/javascript" src="http://static.zemanta.com/core/jquery.zemanta.js"></script>
<script type="text/javascript">
	window.ZemantaGetAPIKey = function () {
		return 'rh8vvut7jbv6ub5fwk5jdmeh';
	}
</script>
<script type="text/javascript" src="http://code.zemanta.com/integrations/sdk/platform.js"></script>
</head><body>
<form name="input" action="." method="post">
<table>
<tr>
		<td>title</td>
		<td>
				<input name="title" {% if post %}value="{{ post.get('title') }}"{% endif %} type="text">
		</td>
</tr>

{% if not post %}
<tr>
		<td>slug:</td>
		<td><input name="slug" type="text"></td>
</tr>
{% endif %}
<tr>
		<td colspan="2">
				<div id="zemanta-sidebar">
				<div id="zemanta-control" class="zemanta"></div>
				<div id="zemanta-message" class="zemanta">Loading Zemanta...</div>
				<div id="zemanta-filter" class="zemanta"></div>
				<div id="zemanta-gallery" class="zemanta"></div>
				<div id="zemanta-articles" class="zemanta"></div>
				<div id="zemanta-preferences" class="zemanta"></div>
				</div>
		</td>
</tr>
<tr>
		<td colspan="2">
				<div id="zemanta-links-div">
				<ul id="zemanta-links-div-ul">
						<li class="zemanta-title"><span>Link recommendations will appear here</span> &laquo; Links</li>
				</ul>
				<p class="zem-clear">&nbsp;</p>
				</div>
		</td>
</tr>
<tr>
		<td colspan="2">
				<div id="zemanta-tags-div">
				<ul id="zemanta-tags-div-ul">
						<li class="zemanta-title"><span>Tag recommendations will appear here</span> &laquo; Tags</li>
				</ul>
				<p class="zem-clear">&nbsp;</p>
				</div>
		</td>
</tr>
<tr>
		<td>
				<textarea name="text" id="editor-textarea">{% if post %}{{ post.txt() }}{% endif %}</textarea>
				<input id="tags-input" name="tags-input" type="text">
		</td>
</tr>
<tr>
		<td><input type="submit"></td>
</tr>
</table>
</form>
</body></html>
