{% extends "/blog/base.html" %}
{% block content %}
{% for post in posts %}
		{% include "/blog/one_post.html" %}
		<a href="{{ post.url() }}#disqus_thread">Comments</a>
		<br>
		<script type="text/javascript">reddit_url='{{ post.url() }}'</script>
		<script type="text/javascript" src="http://reddit.com/static/button/button1.js?url={{ post.url() }}"></script>
{% endfor %}

{% if num %}
<a href="/history/{{ num - 1 }}/">Prev</a>
{% endif %}
<a href="/history/{{ num + 1 }}/">Next</a>


<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/cblog666/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
{% endblock %}
